# Pacotes extras comuns para notebooks
# Estes são instalados na imagem Docker para melhorar a taxa de sucesso

# Machine Learning
torchinfo
tensorboard
wandb
optuna
hyperopt

# Data Science
plotnine
altair
bokeh
holoviews
datashader

# Web scraping
selenium
scrapy
requests-html

# APIs e serviços
boto3
google-cloud-storage
azure-storage-blob

# Utilitários
rich
typer
pydantic
marshmallow

# Desenvolvimento
pre-commit
isort
bandit
safety

# Jupyter extensions
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
ipywidgets
ipympl

# Visualização avançada
pygraphviz
graphviz
pyvis

# Análise de dados
polars
dask
vaex

# NLP
spacy
nltk
textblob

# Time series
prophet
statsforecast

# Geospatial
geopandas
folium
cartopy

# Finance
yfinance
quantlib
zipline

# Bioinformática
biopython
pysam

# Química
rdkit
mordred

# Física
astropy
sunpy

# Matemática
sympy
mpmath
gmpy2